<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>live import export</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
<!-- #region live 1 -->
   <!-- <div id="app">
        <input type="text" v-model="name">
        <input type="text" v-model="lastname">
        <p>ciao {{name + ' ' + lastname}}</p>
    </div>  -->
<!-- #endregion live 1 -->

<!-- #region live 2 -->
<div id="app_2">
    <h1 v-bind:class="text_color">{{title}}</h1>
    <button v-on:click="changeColor">Click me!</button>
</div>
<!-- #endregion live 2 -->

<!-- #region live 3-->
<!-- <div id="app_3">
    <h1>{{message}}</h1>
    <p v-bind:class="color">{{text}}</p>
    <button @click="newText">Click me!</button>
</div> -->
<!-- #endregion live 3-->

   


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./main.js" type="module"> </script>
</body>

</html>